@import url("https://db.onlinewebfonts.com/c/34f3c25fb984e9124b098bced2291641?family=Torus");

body {
  margin: 0;
  font-family: "Torus", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Torus", sans-serif;
}
